@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>

<h1>GladiatorMonkys</h1>
<h3>Garcia, Alicia</h3>
<h3>Dinh, Ha</h3>
<h3>Provenzani, Carlo</h3>
<h3>Xie, Zhuojing</h3>
