@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}


<div id="text-wrapper" style="text-align:center; vertical-align:middle">
    <h1>Our Mission</h1>

    <p>
        <b>FOR</b> the environmentally conscientious individual <b>WHO</b> wants access to information to help make greener choices in their seafood consumption,
        <b>THE Seafood Watch Guide</b> Simplified website is a simplified view of the guide that makes access to information readily available to anyone in the country.
        <b>UNLIKE</b> the pdf guides that require saving a file to a user's computer or printing a file to have on hand, like what is offered on the Monterey Bay Aquariums site,
        <b>OUR</b> product grants access to the guide and information quickly and easily online with a single click and no need to download or print a file.
    </p>


    <h2>Who we are: GladiatorMonkys</h2>
    
</div>

<link rel="stylesheet" href="~/css/about.css" type="text/css">

<div id="wrapper">
    <div id="line">
        <div id="text-wrapper" style="text-align:center">
            <div class="member">
                <img src="https://media.istockphoto.com/vectors/emoticon-placing-hand-on-head-emoji-with-palm-gesture-isolated-vector-vector-id1316006857?k=20&m=1316006857&s=612x612&w=0&h=JYw-UiTEjfNVEQYQvTFTWtNSUYncUCOiOXS5NasBM_0="
                     width="200"
                     height="200" />
                <h4>Garcia, Alicia</h4>
            </div>

            <div class="member">
                <img src="https://thumbs.dreamstime.com/b/open-eye-crying-laughing-emoji-open-eye-crying-laughing-emoji-funny-crazy-meme-face-wide-open-eyes-tears-joy-vector-125752428.jpg"
                     width="200"
                     height="200" />
                <h4>Dinh, Ha</h4>
            </div>

            <div class="member">
                <img src="https://i.pinimg.com/474x/8a/ec/b2/8aecb27d715f8c7d5e7bc33df8f56771.jpg"
                     width="190"
                     height="200" />
                <h4>Provenzani, Carlo</h4>
            </div>

            <div class="member">
                <img src="https://media.istockphoto.com/vectors/ok-sign-winking-emoticon-vector-id1135824193?k=20&m=1135824193&s=612x612&w=0&h=wmIhstAKnfJhtqvFQ8zR2DcyvZkGUsDt_xyHjhC1aJQ="
                     width="200"
                     height="200" />
                <h4>Xie, Zhuojing</h4>
            </div>
        </div>
    </div>
</div>

