@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<h1>Our Mission</h1>

<p><b>FOR</b> the environmentally conscientious individual <b>WHO</b> wants access to information to help make greener choices in their seafood consumption, 
    <b>THE Seafood Watch Guide</b> Simplified website is a simplified view of the guide that makes access to information readily available to anyone in the country.
    <b>UNLIKE</b> the pdf guides that require saving a file to a user's computer or printing a file to have on hand, like what is offered on the Monterey Bay Aquariums site, 
    <b>OUR</b> product grants access to the guide and information quickly and easily online with a single click and no need to download or print a file.</p>


<h2>Who we are: GladiatorMonkys</h2>
<h3></h3>
<h4>Garcia, Alicia</h4>
<h4>Dinh, Ha</h4>
<h4>Provenzani, Carlo</h4>
<h4>Xie, Zhuojing</h4>
