@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<!--This page puts out the layout of our About page. It includes our mission statements and introduction to team members-->
<div class="text-center">
    <h1>Our Mission</h1>

    <p>
        <b>FOR</b> the environmentally conscientious individual <b>WHO</b> wants access to information to help make greener choices in their seafood consumption,
        <b>THE Seafood Watch Guide</b> Simplified website is a simplified view of the guide that makes access to information readily available to anyone in the country.
        <b>UNLIKE</b> the pdf guides that require saving a file to a user's computer or printing a file to have on hand, like what is offered on the Monterey Bay Aquariums site,
        <b>OUR</b> product grants access to the guide and information quickly and easily online with a single click and no need to download or print a file.
    </p>


    <h2>Who we are: GladiatorMonkys</h2>

</div>

<!-- Introduction of team members along with representing images -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <center>
                <img class="emoji" src="/imgs/Alicia.jpg" />
                <br />
                <b id="name">Garcia, Alicia</b>
            </center>
        </div>
        <div class="col-5">
            <center>
                <img class="emoji" src="/imgs/Avery.jpg" />
                <br />
                <b id="name">Dinh, Ha</b>
            </center>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <center>
                <img class="emoji" src="/imgs/Carlo.jpg" />
                <br />
                <b id="name">Provenzani, Carlo</b>
            </center>
        </div>
        <div class="col-5">
            <center>
                <img class="emoji" src="/imgs/Xie.jpg" />
                <br />
                <b id="name">Xie, Zhuojing</b>
            </center>
        </div>
    </div>
</div>