@page
@{
    ViewData["Title"] = "About Us";
}
<link rel="stylesheet" href="~/css/site.css" type="text/css">
<div id="howtoheader">
    <h1>How to Use This Guide</h1>

    Let's get familiar with our ratings and their definitions<br><br>

</div>

<div>
    <p>
        <b id="best">Best Choices</b><br>
        Buy first; they’re well managed and caught or farmed responsibly.<br>

        <b id="good">Good Alternatives</b><br>
        Buy, but be aware there are concerns with how they’re caught, farmed or managed.<br>

        <b id="avoid">Avoid</b><br>
        Take a pass on these for now because they’re overfished, lack strong management or
        are caught or farmed in ways that harm other marine life or the environment.<br>
    </p>
</div>

<h2 id="howtoheader">Seafood Watch Guide</h2>