@page
@{
    ViewData["Title"] = "About Us";
}

<div class="d-flex flex-row justify-content-center align-items-center">
    <div>
        <h1>How to Use This Guide</h1>
        Let's get familiar with our ratings and their definitions
    </div>
</div>
<br>
<br>
<div>
    <p>
        <b class="bestChoiceHeader">Best Choices</b><br>
        Buy first; they’re well managed and caught or farmed responsibly.<br>

        <b class="goodAlternativeHeader">Good Alternatives</b><br>
        Buy, but be aware there are concerns with how they’re caught, farmed or managed.<br>

        <b class="avoidHeader">Avoid</b><br>
        Take a pass on these for now because they’re overfished, lack strong management or
        are caught or farmed in ways that harm other marine life or the environment.<br>
    </p>
</div>