@page
@{
    ViewData["Title"] = "About Us";
}





<div id="text-wrapper" style="text-align:center; vertical-align:middle">
    <h1>How to Use This Guide</h1>

    <p>
        It is helpful to get you familiar with our ratings and their definitions<br>
        <b>Best Choices</b><br>
        Buy first; they’re well managed and caught or farmed responsibly<br>.

        <b>Good Alternatives</b><br>
        Buy, but be aware there are concerns with how they’re caught, farmed or managed.<br>

        <b>Avoid</b><br>
        Take a pass on these for now; they’re overfished, lack strong management or
        are caught or farmed in ways that harm other marine life or the environment.<br>
    </p>


<h2>Seafood Watch Guide</h2>

</div>