@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Garcia, Alicia</h1>
<h1>Dinh, Ha</h1>
<h1>Provenzani, Carlo</h1>
<h1>Xie, Zhuojing</h1>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>