@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This privacy policy ("policy") will help you understand how Seafood Watch ("us", "we", "our") uses and
    protects the dat    a you provide to us when you visit and use [SeafoodWatchGuide] ("website", "service").
    We reserve the right to change this policy at any given time, of which you will be promptly
    updated. If you want to make sure that you are up to date with the latest changes, we advise
    you to frequently visit this page.
    <br>
    <br>
    <b>What User Data We Collect<br /></b>
    • Nothing, we are college students, just trying to build a website and get a good grade.
    <br>
    <br>
    <b>Why We Collect Your Data <br /></b>
    • As stated before, we don't and we don't know how to. Too much coding to try anyways.
    <br>
    <br>
    Basically, we don't and can't collect anything from you on this website. This is just a project for us
    to practice our collaboration, kanban/scrum/agile programming methods, sprint planning and basic programming.
</p>