@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Take Action page";
}

<!-- Place holder -->
<body>
    <div class="text-body navbar-expand-sm navbar-toggleable-sm">
        <div id="text-wrapper" style="text-align:left; vertical-align:middle">
            <h3>
                Text for this coming soon
            </h3>
        </div>
    </div>
</body>

<script src="_framework/blazor.server.js"></script>