@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Take Action page";
}

<div class="d-flex flex-row justify-content-center align-items-center">
    <div>
        <h1>Take Action In Your Daily Life</h1>
    </div>
</div>
<body>
    <div class="text-body navbar-expand-sm navbar-toggleable-sm">
            Help the cause by taking action in your daily life. This can be done by following the ASK, BUY and CHOOSE principles!</br></br>

            <b>ASK</b> "Do you sell sustainable seafood?" Let busines know that this is important to you to encourage prioritization of
            sustainable food!</br></br>

            <b>BUY</b> the Best Choices first. This will reduce your impact on our ocean's immensely!</br></br>

            <b>CHOOSE</b> Good Alternatives or the <a href="https://www.seafoodwatch.org/recommendations/eco-certified-seafood">eco-certified option</a> if you can't find the Best Choice
    </div>
</body>

<script src="_framework/blazor.server.js"></script>