#wrapper {
    width: 500px;
    height: 500px;
    background-color: white;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}

#line1 {
    width: 500px;
    height: 250px;
    overflow: hidden; /* or any clear-fix snippet */
    background-color: white;
}

.member {
    float: left;
    width: 230px;
    height: 100%;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
}


#line2 {
    width: 500px;
    height: 250px;
    overflow: hidden; /* or any clear-fix snippet */
    background-color: white;
}

.name {
    float: left;
    width: 500px;
    overflow: hidden; /* or any clear-fix snippet */
}
