html {
    font-size: 14px;
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a {
    color: #0366d6;
    margin: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #252152;
    border-color: #252152;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #e9a8a6;
        border-color: #e9a8a6;
    }

.popover img {
    width: 100%;
}

.bestChoiceHeader {
    color: green;
    font-size: large;
    font-weight: bold;
}

.goodAlternativeHeader {
    color: yellowgreen;
    font-size: large;
    font-weight: bold;
}

.avoidHeader {
    color: red;
    font-size: large;
    font-weight: bold;
}

#mainPageBody {
    background-image: url('/imgs/underwater.jpg');
    background-size: cover;
    background-attachment: fixed;
}

div#form-wrapper {
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    background: rgba(255, 255, 255, 0.85);
    top: 50%;
    width: 40%;
    right: 0;
    left: 0;
}

div#text-wrapper {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0px;
    margin: auto;
    background: rgba(240, 248, 255, 0.75);
    top: 120px;
    width: 100%;
    right: 0;
    left: 0;
}


/* cards
-------------------------------------------------- */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    width: 100%;
    height: 230px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 230px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    /*box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);*/
}

.card-footer {
    background: #fbfafd;
}


/* navbar
-------------------------------------------------- */
a.navbar-brand {
    white-space: normal;
    font-family: 'Rye', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
/* Style buttons */
.btn-nav {
    color: #fff;
    background-color: #add9e6; /* Blue background */
    border-color: #5c5858; /* Adding borders */
    color: #000000; /* Black text */
    padding: 12px 16px; /* Some padding */
    font-size: 14px; /* Set a font size */
}

    /* Darker background on mouse-over */
    .btn-nav:hover {
        background-color: #357ec7;
    }

.bg-navbar {
    background: -webkit-linear-gradient(110deg, #5f9ea0 60%, #f0fff0 60%);
    background: -o-linear-gradient(110deg, #5f9ea0 60%, #f0fff0 60%);
    background: -moz-linear-gradient(110deg, #5f9ea0 60%, #f0fff0 60%);
    background: linear-gradient(110deg, #5f9ea0 60%, #f0fff0 60%);
}


/* Sticky footer styles
-------------------------------------------------- */
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #f0fff0 60%, #5f9ea0 60%);
    background: -o-linear-gradient(110deg, #f0fff0 60%, #5f9ea0 60%);
    background: -moz-linear-gradient(110deg, #f0fff0 60%, #5f9ea0 60%);
    background: linear-gradient(110deg, #f0fff0 60%, #5f9ea0 60%);
}

/* error messages
-------------------------------------------------- */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}









/* Format for About page*/
#wrapper {
    width: 500px;
    height: 500px;
    background-color: white;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}

#line1 {
    width: 500px;
    height: 250px;
    overflow: hidden; /* or any clear-fix snippet */
    background-color: white;
}

.member {
    float: left;
    width: 230px;
    height: 100%;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
}


#line2 {
    width: 500px;
    height: 250px;
    overflow: hidden; /* or any clear-fix snippet */
    background-color: white;
}

.name {
    float: left;
    width: 500px;
    overflow: hidden; /* or any clear-fix snippet */
}

/*Formatting for truncating long text*/
.truncate {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.readwrapper {
    width: 300px;
    height: 300px;
    background-color: white;
}

#imgcontainer {
    max-width: 100%;
    max-height: 100%;
}
